<link href="~/Content/StyleChiSiamo.css" rel="stylesheet" />
<h2 class="text-center text-warning mt-2">Chi siamo </h2>
<p class="text-center">
    I nostri utenti sono principalmente 2 gli utenti e le aziende pronte a mostrare gli eventi da loro creati.
    <br />Cosa vi offriamo? Diversi tipi di eventi tra cui:
</p>
<div class=" justify-content-evenly align-items-center rounded-4 d-none d-md-flex" style="background-color:orange">
    <div class="p-4">
        <div class="d-flex justify-content-center align-items-center border p-4" id="Div1">
            <h3 id="h31" class="bg-dark text-warning rounded-4 p-3">Musei </h3>
        </div>
        <div class="d-flex justify-content-center align-items-center border mt-3 p-4" id="Div2">
            <h3 class="bg-dark text-warning rounded-4 p-3">Feste </h3>
        </div>
    </div>
    <div class="p-4" style="background-color:orange">
        <div class="d-flex justify-content-center align-items-center border p-4" id="Div3">
            <h3 class="bg-dark text-warning rounded-4 p-3">Concerti </h3>
        </div>

    </div>
    <div class=" p-4" style="background-color:orange">
        <div class="d-flex justify-content-center align-items-center border p-4" id="Div4">
            <h3 class="bg-dark text-warning rounded-4 p-3">Avventure </h3>
        </div>
        <div class="d-flex justify-content-center align-items-center border p-4 mt-3" id="Div5">
            <h3 class="bg-dark text-warning rounded-4 p-3 ">Relax </h3>
        </div>
    </div>

</div>




<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-md-none">
        <div class="carousel-item active">
            <img src="/Content/Img/Giganti.jpg" alt="Alternate Text" />

        </div>
        <div class="carousel-item">
            <img src="/Content/Img/festa.jpg" alt="Alternate Text" />

        </div>
        <div class="carousel-item">

            <img src="/Content/Img/Concerto.jpeg" alt="Alternate Text" />

        </div>
        <div class="carousel-item">
            <img src="/Content/Img/escursione.jpg" alt="Alternate Text" />

        </div>
 
        <div class="carousel-item">
            <img src="/Content/Img/piscinas.jpg" alt="Alternate Text" />

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>