<link href="~/Content/StyleChiSiamo.css" rel="stylesheet" />
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="~/Scripts/JavaScriptChiSiamo.js"></script>
<h2 class="text-center text-warning text-center rounded-3 mt-2">Chi siamo </h2>
<p class="text-center border  border-dark rounded-4  bg-white p-3">
    Sei una <strong class="text-warning ">PERSONA </strong>che cerca nuove esperienze, paesaggi mozzafiato, musei affascinanti o semplicemente relax sulle spiagge della Sardegna, Tour Sardegna è la tua risorsa ideale. Ti terremo sempre aggiornato sugli eventi dell’isola e ti forniremo tutte le informazioni necessarie per goderti al meglio la tua esperienza.
</p>

<p class="text-center"> <br />Cosa vi offriamo?</p>
<main>
    <div class="swiper">
        <div class="swiper-wrapper"><div class="swiper-slide">
    <div class="swiper-slide-img">
        <img src="~/Content/Img/Festa.jpg" />

    </div>
    <div class="swiper-slide-content">
        <div>
            <h2 class="text-warning text-center rounded-3 bg-dark">Feste di paese</h2>
            <p></p>
            <a class="show-more" href="/home/index" target="_blank">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
            <div class="swiper-slide">
                <div class="swiper-slide-img">
                    <img src="~/Content/ImgCss/pexels-files-18886593.jpg" />

                </div>
                <div class="swiper-slide-content">
                    <div>
                        <h2 class="text-warning text-center rounded-3 bg-dark">Escursioni in barca</h2>
                        <p></p>
                        <a class="show-more" href="/home/index" target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img">
                    <img src="~/Content/ImgCss/pexels-jaime-reimer-2679814.jpg" />

                </div>
                <div class="swiper-slide-content">
                    <div>
                        <h2 class="text-warning text-center rounded-3 bg-dark">Escursioni in montagna</h2>
                        <p></p>
                        <a class="show-more" href="/home/index" target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img">
                    <img src="~/Content/ImgCss/pexels-symeon-ekizoglou-2105937.jpg" />

                </div>
                <div class="swiper-slide-content">
                    <div>
                        <h2 class="text-warning text-center rounded-3 bg-dark">Relax nelle migliori spiagge della sardegna</h2>
                        <p></p>
                        <a class="show-more" href="/home/index" target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img">
                    <img src="~/Content/ImgCss/pexels-teddy-yang-2263410.jpg" />

                </div>
                <div class="swiper-slide-content">
                    <div>
                        <h2 class="text-warning text-center rounded-3 bg-dark"> Concerti</h2>
                        <p></p>
                        <a class="show-more" href="/home/index" target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-img">
                    <img src="~/Content/Img/Giganti.jpg" />

                </div>
                <div class="swiper-slide-content">
                    <div>
                        <h2 class="text-warning text-center rounded-3 bg-dark">Musei</h2>
                        <p></p>
                        <a class="show-more" href="../home/index" target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>

<div class="text-center mt-4 ">
    <p class="text-center mt-4 border border-dark rounded-4  bg-white p-3">
        Se sei un <strong class=text-warning text-center rounded-3>AZIENDA</strong> alla ricerca di una piattaforma per pubblicare e gestire eventi, ti offriamo un sistema di gestione completo. Con il nostro gestionale, potrai pubblicare e promuovere tutti i tuoi eventi, fornendo al pubblico tutti i dettagli necessari. Inoltre, sarai sempre aggiornato in tempo reale su tutti i tuoi contenuti.
    </p>
    <div class="text-center">
        <strong>Quindi cosa ti offriamo?</strong>
        <ul class="text-decoration">
            <li>Registro utenti</li>
            <li>Registro eventi</li>
            <li>Registro ordini</li>
            <li>Registro recensioni</li>
            <li>Registro categorie</li>
        </ul>
        <img src="~/Content/ImgCss/registroEventi.png" class="border border-dark w-100" />
        <strong>Ma non finisce qui, avrai delle funzionalità in più:</strong>
        <ul>
            <li>Totale incasso fino ad oggi</li>
            <li>Incasso per data</li>
            <li>Incasso per data e categoria</li>
            <li>Grafico degli eventi</li>
            <li>Grafico degli eventi con prezzo totale per ordini</li>
        </ul>
        <div class="d-lg-flex">
            <img id="img1" class="" src="~/Content/ImgCss/Grafico1.png" />
            <img id="img2" class="" src="~/Content/ImgCss/Grafico2.png" />
        </div>

        <img id="img3" class="" src="~/Content/ImgCss/Incasso.png" />


    </div>

</div>


<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

    var swiper = new Swiper(".swiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 2.5
        },
        keyboard: {
            enabled: true
        },
        mousewheel: {
            thresholdDelta: 70
        },
        spaceBetween: 30,
        loop: false,
        breakpoints: {
            640: {
                slidesPerView: 2
            },
            1024: {
                slidesPerView: 3
            }
        }
    });

    swiper.slideTo(1, false, false)
</script>


