@model Capstone.Models.Categorie

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/StyleDettagliAdmin.css" rel="stylesheet" />
<h2 class="text-center" id="Title">Details</h2>

<div>

    <dl class="dl-horizontal" id="Detail">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCategoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
