@model Capstone.Models.Eventi
@{
    ViewBag.Title = "Index";
}
<style>
    body{
        font-family:cursive;
    }
</style>
<div id="Totale" class="border border-dark border-2 mx-auto text-center w-25"></div>
<h4 class="text-center  text-warning">Cerca per data</h4>
<input type="date" name="DataEvento" value="" id="InputData" class="d-flex mx-auto" />
<button id="DataButton" class="d-flex mx-auto">Cerca</button>

<div id="Data" class="d-flex justify-content-center"></div>
<h4 class="text-center text-warning">Cerca per data e categoria </h4>
<div class="mt-3 d-flex flex-column mx-auto justify-content-center">
    <input type="date" name="DataEvento" value="" class="d-flex mx-auto" id="InputDataCategoria" />
    <div class="form-group d-flex flex-column mx-auto justify-content-center">

        <div class="">
            @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control", id = "NomeCategoria" })
            @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
<button id="DataCategoriaButton"  class="d-flex mx-auto">Cerca</button>
<div id="DataCategoria" class="text-center"></div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            /* $("#RemoveFiltri").click(function () {*/
            $.ajax({
                method: "GET",
                url: "/Admin/TotaleGuadagni",
                success: function (data) {
                    console.log(data)
                    var licurrent = "<h2 class=' text-warning'>Totale incassato: </h2><h4 class='text-danger'>" + data + " €</h4>";
                    $("#Totale").html(licurrent);
                }
            })
            /* })*/
            $("#DataCategoriaButton").click(function () {
                var data1 = $("#InputDataCategoria").val();
                var Categoria = $("#NomeCategoria").val();
                $.ajax({
                    method: "POST",
                    url: "/Admin/TotaleGuadagniDataCategoria",
                    data: { DataEvento: data1, IdCategoria: Categoria },
                    success: function (data) {
                        console.log(data)
                        var licurrent = "<p><strong>Totale guadagnato il " + data1 + " :</strong>" + data + "<strong></p>";
                        $("#DataCategoria").html(licurrent);
                    }
                })
            })

            $("#DataButton").click(function () {
                var data1 = $("#InputData").val();
                $.ajax({
                    method: "POST",
                    url: "/Admin/TotaleGuadagniData",
                    data: { DataEvento: data1 },
                    success: function (data) {
                        console.log(data)
                        var licurrent = "<p><strong>Totale guadagnato il " + data1 + " </strong>: " + data + "</p>";
                        $("#Data").html(licurrent);
                    }
                })
            })
        })
    </script>
}