body {
}

.ticket {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #04030C;
    width: 700px;
    height: 300px;
    border-radius: 15px;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    display: block;
    margin: 10% auto auto auto;
    color: black;
    text-shadow:2px 2px 6px black;
    
}

.date {
    margin: 15px;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

    .date .day {
        font-size: 35px;
        float: left;
    }

    .date .month-and-time {
        float: left;
        margin: 15px 0 0 0;
        font-weight: bold;
    }

.artist {
    font-size: 30px;
    margin: 10px 100px 0 40px;
    float: left;
    font-weight: bold;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.location {
    float: left;
    margin: 135px 0 0 78px;
    font-size: 30px;
    font-weight: bold;
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

    .location::before {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cb/QRCodeWikipedia.png');
        background-size: 110px 110px;
        width: 50%;
        
        content: "";
        display: inline-block;
        float: left;
        position: absolute;
        left: -160px;
        bottom: 5px;
        -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    }

.rip {
    border-right: 8px dotted #436ea5;
    height: 300px;
    position: absolute;
    top: 0;
    left: 530px;
}

.cta .buy {
    position: absolute;
    top: 135px;
    right: 15px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    background-color: #436ea5;
    padding: 10px 20px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}

.small {
    font-weight: 200;
}


@media screen and (max-width: 400px) {
    .ticket {
        font-family: sans-serif;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        background-color: #04030C;
        width: 400px;
        height: 200px;
        border-radius: 15px;
        -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
        display: block;
        margin: 10% auto auto auto;
        color: black;
        text-shadow: 2px 2px 6px black;
    }
}