body {
}
#Totale{
    width:25%;
    position:relative;
    z-index:2;
    background-color:white;
}
#Altro{
    margin-top:480px;
}

@media screen and (max-width:770px){
   #Totale{
    width:50%;
   }

}