body {
}

#Title {
    font-family: fantasy;
    color: orange;
    text-align: center;
}

#Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}