body {
}

#Title {
    color: orange;
    font-family: fantasy;
    text-align:center;
}
#Div{
    width:25%;
}
@media screen and (max-width:600px){

    #Div {
        width: 100%;
    }
}
#U:hover,#P:hover,#T:hover,#E:hover,#C:hover,#P:hover,#A:hover, #I:hover,#Div1:hover,#Div2:hover {
 background-color:lightgray;
}
